
<label>Server Name</label>
<!-- Example of Two Way Data Binding -->
<input
type="text"
class="form-control"
[(ngModel)]="serverName">

<!-- Example of Passing and Using Data with Event Binding -->
<input type="text" class="form-control"
(input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>

<!-- Example of Event Binding -->
<button class="btn btn-primary" (click)="onCreateServer()" [disabled]="!allowNewServer">Add Server</button>

<!-- Example of String Interpolation -->
<p>{{ allowNewServer }}</p>

<!-- Example of Property Binding -->
<!-- <p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p> -->

<!-- Example of Directives, using ngIf and ng IfElse -->
<p *ngIf="serverCreated">Server was created. Name is: {{ serverName }}</p>


<app-server *ngFor="let server of servers"></app-server>
