<h3>App Component Area</h3>
<hr>
<!-- <app-servers></app-servers> -->
<!--<div app-servers></div> Example1: same as above, but our code is not made as an attribute.-->
<div class="app-servers"></div> <!--Example1: same as above, but our code is not made as an attribute.-->
<app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert>

<!-- Second Assignment -->
<div>
  <app-second-assignment *ngIf="secondAssignment"></app-second-assignment>
</div>

<div>
  <app-third-assignment></app-third-assignment>
</div>
